/*
 * Huge thanks to the following for their inspiration/guidance:
 * http://www.linnhe2.free-online.co.uk/thunderbird/chrome.html - For a very comprehensive guide to userChrome.css
 * https://monterail.com/blog/2016/the-power-of-email-clients-why-did-we-redesign-thunderbird?utm_source=Thunderbird&utm_campaign=Dribbble&utm_medium=blogpost%22 - For the initial inspiration to do this 
 * http://www.omgubuntu.co.uk/2017/04/stunning-thunderbird-redesign-mockup - For alerting me to the beautiful mockup by monterail.com
*/

/**** Variables: Edit these for easy customisation ****/
:root {
  --message-list-row-height: 40px;
  --folder-view-row-height: 25px;
  --subject-line-font-size: 150%;
}
/******************************************************/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@font-face {
    font-family: 'LightSans';
    src: url('EncodeSansNarrow-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: LightSans;
}

/*window, #messengerBox {
	background-color: white !important;
}*/

#mail-toolbar-menubar2,
#mail-bar3
#MsgHeadersToolbar,
#addrbook-toolbar-menubar2,
#ab-bar2,
#FormatToolbar {
	-moz-appearance: none !important;
	/*border-style: none !important;
	border-width: none !important;*/
}

toolbar > toolbarbutton {
	margin-right: 10px !important;
	margin-left: 10px !important;
}

box, hbox, vbox, toolbox {
	box-shadow: none !important;
}

.mail-toolbox::after,
.contentTabToolbox::after {
  content: "";
  display: none !important;
  height: 0px !important;
}

/*.tab-background-middle {
  border-left: var(--tabCurveHalfWidth) solid transparent !important;
  border-right: var(--tabCurveHalfWidth) solid transparent !important;
}*/
#folderTree, #folderTree > treechildren::-moz-tree-row, .tree-scrollable-columns {
	-moz-appearance: none !important;
	color: MenuText !important;
	background: Menu !important;
}

#folderTree > hbox {
	margin-top: 30px !important;
}

#folderTree > treechildren::-moz-tree-row > treechildren::-moz-tree-row {
	margin-top: 5px !important;
}

#folderTree > treechildren::-moz-tree-row {
	height: var(--folder-view-row-height) !important;
}

#folderTree > treechildren::-moz-tree-row(selected) {
	border: none !important;
	background: Highlight !important;
}

treechildren::-moz-tree-row(selected) {
	background: Highlight !important;
}

treechildren::-moz-tree-cell-text(selected) {
	color: HighlightText !important;
}

#threadTree > treechildren::-moz-tree-row {
	height: var(--message-list-row-height) !important;
	border: none !important;
	border-bottom: 1px solid rgba(127,127,127,0.2) !important;
	margin-left:5px;
	margin-right:5px;
}

#threadCols treecol, #threadCols treecolpicker {
	-moz-appearance: none !important;
	background: -moz-dialog !important;
	border: none !important;
	padding: 3px !important;
	min-width: 22px !important;
}

#threadPane {
	-moz-appearance: none !important;
}

scrollbar {
	margin-right: 5px !important;
	width: 10px !important;
	max-width:10px !important;
	-moz-appearance: none !important;
	background: none !important;
	border: none !important;
}

srollbarbutton {
	width: 10px !important;
	max-width:10px !important;
}	

slider {
	width: 10px !important;
	max-width:10px !important;
	-moz-appearance: none !important;
	background: none !important;
	border: none !important;
}

thumb {
	width: 10px !important;
	max-width:10px !important;
	-moz-appearance: none !important;
	min-height: 100px !important;
	border: none !important;
	background: rgba(0,0,0,0.3) !important;
}

thumb:hover {
	background: Highlight !important;
}

#msgHeaderView {
	color: WindowText !important;
	background-color:transparent !important;
	border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

.msgHeaderView-button {
	min-width: 0px !important;
	border-color: transparent !important;
	background-color:transparent !important;
	margin: 0px !important;
}

.msgHeaderView-button:hover {
	border-color: rgba(0,0,0,0.25) !important;
}

.msgHeaderView-button > label {
	display:none;
}

#expandedHeader2Rows row {
	padding-left:15px !important;
	display: none !important;
}

#expandedHeader2Rows #expandedsubjectRow, #expandedHeader2Rows #expandedtoRow {
	display: block !important;
}

#expandedHeaders2 .headerName {
	display: none !important;
}
	
#expandedsubjectBox .headerValue {
	font-size: var(--subject-line-font-size) !important;
}

.emailStar {
	margin-inline-start: 2px !important;
}

.treecol-icon {
	mix-blend-mode: difference !important;
}

/******* Message view icons ********/
treechildren::-moz-tree-image {
	width: 14px !important;
	-moz-image-region: rect(0px 12px 12px 0px) !important;
}

/* ..... thread column ..... */
treechildren::-moz-tree-image(threadCol) { list-style-image: url("icons/message-list/thread.svg") !important; }

/* ..... read column ..... */
.readColumnHeader { list-style-image: url("icons/message-list/read-header.svg") !important; }
treechildren::-moz-tree-image(unreadButtonColHeader) { list-style-image: url("icons/message-list/dot-read.svg") !important; }
treechildren::-moz-tree-image(unreadButtonColHeader, unread) { list-style-image: url("icons/message-list/dot-unread.svg") !important; }

/* ..... attachment column ..... */
.attachmentColumnHeader { list-style-image: url("icons/message-list/paperclip-header.svg") !important; }
treechildren::-moz-tree-image(attachmentCol, attach) { list-style-image: url("icons/message-list/paperclip.svg") !important; }

/* ..... flag column ..... */
.flagColumnHeader { list-style-image: url("icons/message-list/star-header.svg") !important; }
treechildren::-moz-tree-image(flaggedCol) { list-style-image: url("icons/message-list/star-empty.svg") !important; }
treechildren::-moz-tree-image(flaggedCol, flagged) { list-style-image: url("icons/message-list/star-filled.svg") !important; }

/* ..... junkStatus column ..... */
.junkStatusHeader { list-style-image: url("icons/message-list/flame-junk-header.svg") !important; }
treechildren::-moz-tree-image(junkStatusCol) { list-style-image: url("icons/message-list/flame-empty.svg") !important; }
treechildren::-moz-tree-image(junkStatusCol, junk) { list-style-image: url("icons/message-list/flame-junk.svg") !important; }
treechildren::-moz-tree-image(junkStatusCol, notjunk) { list-style-image: url("icons/message-list/flame-empty.svg") !important; }

/******** Message view reply etc *********/
treechildren::-moz-tree-image(subjectCol) {
  -moz-margin-end: 2px;
  list-style-image: url("icons/message-list/thread.png") !important;
}

treechildren::-moz-tree-image(subjectCol, forwarded) { list-style-image: url("icons/message-list/forwarded.svg") !important; }

treechildren::-moz-tree-image(subjectCol, replied) { list-style-image: url("icons/message-list/replied.svg") !important; }

treechildren::-moz-tree-image(subjectCol, replied, forwarded) { list-style-image: url("icons/message-list/replied-forwarded.svg") !important; }

treechildren::-moz-tree-image(subjectCol, new) { list-style-image: url("icons/message-list/new.svg") !important; }

/* ::::: Folder icons for menus   ::::: */
#folderPaneCols > hbox { -moz-appearance: menubar !important; }

/* Folders */
treechildren::-moz-tree-image(folderNameCol) { list-style-image: url("icons/folder-pane/folder.svg") !important; }

/* Newsgroup */
treechildren::-moz-tree-image(folderNameCol, serverType-nntp) { list-style-image: url("icons/folder-pane/news-dark.svg") !important; }

/* Feed */
treechildren::-moz-tree-image(folderNameCol, isFeedFolder-true) { list-style-image: url("icons/folder-pane/rss.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) { list-style-image: url("icons/folder-pane/inbox-dark.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent) { list-style-image: url("icons/folder-pane/sent.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox) { list-style-image: url("icons/folder-pane/outbox-dark.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts) { list-style-image: url("icons/folder-pane/drafts.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates) { list-style-image: url("icons/folder-pane/template-dark.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk) { list-style-image: url("icons/folder-pane/flame-junk.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) { list-style-image: url("icons/folder-pane/trash.svg") !important; }

treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive) { list-style-image: url("icons/folder-pane/archive.svg") !important; }

/*.folderMenuItem[SpecialFolder="Virtual"] { list-style-image: url("icons/folder-pane/.svg") !important; }*/

/** IMAP/POP/movemail account nodes */
treechildren::-moz-tree-image(folderNameCol, isServer-true) { list-style-image: url("icons/folder-pane/email-account-dark.svg") !important; }

/* Local folders account node */
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) { list-style-image: url("icons/folder-pane/local-account-dark.svg") !important; }

/* News server */
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-nntp) { list-style-image: url("icons/folder-pane/news-dark.svg") !important; }

/* Feed account node */
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-rss) { list-style-image: url("icons/folder-pane/news-dark.svg") !important; }
