/*
 * Huge thanks to the following for their inspiration/guidance:
 * http://www.linnhe2.free-online.co.uk/thunderbird/chrome.html - For a very comprehensive guide to userChrome.css
 * https://monterail.com/blog/2016/the-power-of-email-clients-why-did-we-redesign-thunderbird?utm_source=Thunderbird&utm_campaign=Dribbble&utm_medium=blogpost%22 - For the initial inspiration to do this 
 * http://www.omgubuntu.co.uk/2017/04/stunning-thunderbird-redesign-mockup - For alerting me to the beautiful mockup by monterail.com
*/

@import "_base.css";
@import "../tweaks/square-tabs.css";

@import "../icons/lightDarkIcons.css"; /*For dark Folder Tree, with a light Message List*/

/**** Variables: Uncomment and Edit these for easy customisation ****/

:root {
  /*---- General Options ----*/
  --monterail-color: #006378;
  --monterail-dark-color: #063136;
  --monterail-white-background: white;
  --monterail-light-background: #F2F1F0;
  --monterail-text-color: #353535;
  --monterail-light-text-color: white;
  
  /*** Set active tab background color: ***/
  --fgTabBackgroundColor: var(--monterail-light-background) !important;
  
  --menu-text-color: White;
  /*** These highlight colors are used if more specific ones aren't specified below ***/
  --highlight-color: #B2F2FF;
  --highlight-text-color: var(--monterail-text-color);
  
  /*---- Tree Views (Folder Tree/Message List) General Options ----*/
  --tree-row-highlight-background-color: var(--highlight-color);
  --tree-row-highlight-text-color: var(--highlight-text-color);
  
  /*---- Folder Tree ----*/
  --folder-tree-background-color: linear-gradient(135deg, var(--monterail-color) 0%, var(--monterail-dark-color) 100%) !important;
  --folder-tree-text-color: White;
  --folder-tree-row-height: 25px;
  --folder-tree-highlight-background-color: #3C818F;
  --folder-tree-highlight-text-color: White;
  
  /*---- Message List ----*/
  --message-list-header-background-color: var(--monterail-light-background);
  --message-list-header-text-color: var(--monterail-text-color);
  --message-list-background-color: var(--monterail-white-background);
  --message-list-text-color: var(--monterail-text-color);
  --message-list-row-height: 40px;
  --message-list-highlight-background-color: var(--tree-row-highlight-background-color);
  --message-list-highlight-text-color: var(--tree-row-highlight-text-color);
  
  /*---- Scollbar ----*/
  --scrollbar-thumb-color: rgba(127,127,127,0.5);
  --scrollbar-thumb-hover-color: var(--highlight-color);
  
  /*---- Message Headers (To/Subject/From etc) ----*/
  --subject-line-font-size: 150%;
  --headers-background-color: var(--monterail-white-background);
  --headers-text-color: var(--monterail-text-color);
  
}

/******************************************************/

@media(-moz-windows-glass: 0) {
	#navigation-toolbox {
		-moz-appearance: none !important;
		background: var(--monterail-color) !important;
	}
}

#compose-toolbox, #compose-toolbox > *, #ab-toolbox {
	-moz-appearance: none !important;
	background: var(--monterail-color) !important;
}

.tabmail-tab[selected="true"] .tab-content {
	background: var(--monterail-light-background) !important;
}

.tabmail-tab[selected="true"] .tab-content * {
	color: var(--monterail-text-color) !important;
}

.chromeclass-toolbar, .chromeclass-toolbar * {
	color: var(--monterail-light-text-color) !important;
}

.mail-toolbox .chromeclass-toolbar {
	-moz-appearance: none !important;
	background: var(--monterail-light-background) !important;
}

.mail-toolbox .chromeclass-toolbar, .mail-toolbox .chromeclass-toolbar * {
	color: var(--monterail-text-color) !important;
}

#mail-toolbox {
	border: none !important;
	border-bottom: 1px solid rgba(127,127,127,0.2) !important;
}

