/*
 * Huge thanks to the following for their inspiration/guidance:
 * http://www.linnhe2.free-online.co.uk/thunderbird/chrome.html - For a very comprehensive guide to userChrome.css
 * https://monterail.com/blog/2016/the-power-of-email-clients-why-did-we-redesign-thunderbird?utm_source=Thunderbird&utm_campaign=Dribbble&utm_medium=blogpost%22 - For the initial inspiration to do this 
 * http://www.omgubuntu.co.uk/2017/04/stunning-thunderbird-redesign-mockup - For alerting me to the beautiful mockup by monterail.com
*/

@import "system_base.css";

/* Icon theme */
/* @import "../icons/lightIcons.css"; /*For dark Folder Tree and Message List*/
/* @import "../icons/lightDarkIcons.css"; /*For dark Folder Tree, with a light Message List*/
@import "../icons/darkIcons.css"; /*For light Folder Tree and Message List*/

#threadCols {
	padding-left: 4px !important;
	padding-right: 0px !important;
}

/**** Variables ****/

:root {
  /*---- General Options ----*/
  --default-font: var(--system-font);
  /*** These highlight colors are used if more specific ones aren't specified below ***/
  --highlight-color: Highlight;
  
  /*---- Folder Tree ----*/
  --folder-tree-item-space-between: 5px;
  --folder-tree-row-height: 25px;
  
  /*---- Message List ----*/
  --message-list-row-height: 40px;
  --message-list-header-background-color: -moz-dialog;
  --message-list-header-text-color: WindowText;
  
  /*---- Scollbar ----*/
  --scrollbar-thumb-color: rgba(127,127,127,0.5);
  --scrollbar-thumb-hover-color: var(--highlight-color);
  
  /*---- Message Headers (To/Subject/From etc) ----*/
  --subject-line-font-size: 150%;
  
}
